@import '~antd/dist/antd.css';

.ant-layout-header .logo {
    width: 120px;
    height: 31px;
    background: url("/images/5a7cf97fe6bde_1024.jpg");
    background-size: contain;
    margin: 16px 28px 16px 0;
    float: left;
    color: white;
}

.ant-layout{
    height: 100%;
}
